[Unit]
Description=celery daemon
After=network.target

[Service]
Type=forking
User=celery
Group=celery
WorkingDirectory=dbms_template_path
ExecStart=/bin/sh -c 'celery -A kwp multi start worker --loglevel="info"'
ExecStop=/bin/sh -c 'celery -A kwp multi stopwait worker --loglevel="info"'
ExecReload=/bin/sh -c 'celery -A kwp multi restart worker --loglevel="info"'
Restart=always

[Install]
WantedBy=multi-user.target