{% extends 'base.html' %}

{% load static i18n %}

{% block title %}
{% if exception == 'Resolver404' or exception == 'Http404' %}
{% trans 'Lo sentimos, esta página no existe' %} - Kiwapower
{% elif exception == 'email' %}
{% trans 'Esta dirección de correo electrónico no coincide con nuestros registros. Comuníquese con nosotros si cree que se trata de un error' %} - Kiwapower
{% elif exception == 'published' %}
{% trans 'Hola, esta propuesta aún no está lista. Por favor contáctenos si esperaba una propuesta aquí' %} - Kiwapower
{% endif %}
{% endblock title %}

{% block header %}
  {% include 'error_header.html' %}
{% endblock header %}

{% block introduction %}
<section id="introduction-error" class="d-flex align-items-center">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10">
          <h1>404</h1>
          {% if exception == 'Resolver404' or exception == 'Http404' %}
          <h3>{% trans 'Lo sentimos, esta página no existe' %}</h3>
          {% elif exception == 'email' %}
          <h3>{% trans 'Esta dirección de correo electrónico no coincide con nuestros registros. Comuníquese con nosotros si cree que se trata de un error' %}</h3>
          {% elif exception == 'published' %}
          <h3>{% trans 'Hola, esta propuesta aún no está lista. Por favor contáctenos si esperaba una propuesta aquí' %}</h3>
          {% endif %}
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}