{% extends 'base.html' %}
{% load static %}

{% block lang %}lang="en"{% endblock lang %}

{% block title %}Email confirmation - Kiwapower{% endblock title %}

{% block description %}{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block nav_lang %}
<li><a href="#">ES</a></li>
{% endblock nav_lang %}

{% block mobile_nav %}
<div class="navbar-collapse collapse" id="mobile-nav">
  <ul class="navbar-nav">
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="https://www.kiwapower.com/">ES</a>
    </li>
  </ul>
</div>
{% endblock mobile_nav %}

{% block introduction %}

<section id="introduction" class="d-flex align-items-center">

  <video loop="loop" autoplay="" muted="">
      <source src="{% static 'assets/img/solar_panels.mp4' %}"/>
  </video>

  <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-5 introduction-bg">
            <h1>Confirm your email address</h1>
            <h2>Enter email address</h2>
            <div class="introduction-form">
              <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email.."><input type="submit" value="Confirm">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}

{% block content %}
{% endblock content %}