{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Confirmación por correo electrónico - Kiwapower' %}{% endblock title %}

{% block description %}{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block mobile_nav %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="navbar-collapse collapse" id="mobile-nav">
  <ul class="navbar-nav">
  {% for lang in languages %}
    {% if lang.code != LANGUAGE_CODE %}
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="/{{ lang.code }}/{{ proposal_id }}">{% trans 'EN' %}</a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
{% endblock mobile_nav %}

{% block introduction %}

<section id="introduction" class="d-flex align-items-center">

  <video loop="loop" autoplay="" muted="" src="{% static 'assets/img/solar_panels.mp4' %}">
  </video>

  <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-5 introduction-bg">
            <h1>{% trans 'Bienvenidos a su propuesta de Kiwapower.' %}</h1>
            <h2>{% trans 'Ingrese su correo electrónico para acceder directamente.' %}</h2>
            <div class="introduction-form">
              <form action="" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="{% trans 'Correo electrónico..' %}"><input type="submit" value="{% trans 'Confirmar' %}">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}