{% load static i18n %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <div class="logo mr-auto scale">
            <a class="logo mr-auto scale" href="{% trans 'https://www.kiwapower.com/' %}" target="_blank"><img src="{% static 'assets/img/kwlogo.png' %}" alt=""></a>
          </div>

          <a href="https://www.marubeni.com/en/" class="group-nav" target="_blank"><img src="{% static 'assets/img/group.png' %}"></a>
        </div>
      </div>
    </div>
  </header><!-- End Header -->