{% load static i18n %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 footer-contact">
            <div class="row">
              <div class="scale footer-img">
                <a href="{% trans 'https://www.kiwapower.com/' %}" target="_blank"><img src="{% static 'assets/img/footerkwlogo.png' %}" alt=""></a>
              </div>
            </div>
              <a href="https://www.google.com/maps/place/Volc%C3%A1n+150,+Lomas+-+Virreyes,+Lomas+de+Chapultepec,+Miguel+Hidalgo,+11000+Ciudad+de+M%C3%A9xico,+CDMX/@19.4294065,-99.2099023,17z/data=!3m1!4b1!4m5!3m4!1s0x85d201f5f0c70a61:0xfc4dc6ff4666c121!8m2!3d19.4294065!4d-99.2077136" target="_blank">
                <div class="row">
                  <div class="footer-contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="col-9 footer-contact-span">
                    <span>{% trans 'Vólcan 150, Piso 4, Suite 432, Miguel Hidalgo, C.P. 11910, Ciudad de Mexico, Mexico' %}</span>
                  </div>
                </div>
              </a><br>
              <a href="tel:+525570266517">
                <div class="row">
                  <div class="mr-3 footer-contact-icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="footer-contact-span">
                    <span>+53 55 7026 65 17</span>
                  </div>
                </div>
              </a><br>
              <a href="mailto:contacto@kiwapower.com">
                <div class="row">
                  <div class="mr-3 footer-contact-icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="footer-contact-span">
                    <span>contacto@kiwapower.com</span>
                  </div>
                </div>
              </a><br>
            
          </div>

          <div class="col-lg-2 footer-links">
            <ul>
              <li><a href="{% trans 'https://www.kiwapower.com/' %}" target="_blank">{% trans 'Inicio' %}</a></li>
              <li><a href="{% trans 'https://www.kiwapower.com/#acerca' %}" target="_blank">{% trans 'Conócenos' %}</a></li>
              <li><a href="{% trans 'https://kiwapower.force.com/FAQ/s/?language=es' %}" target="_blank">{% trans 'FAQ' %}</a></li>
              <li><a href="https://www.kiwapower.com/kiwapower_en/" target="_blank">{% trans 'Ve Nuestro Video' %}</a></li>
            </ul>
          </div>

          <div class="col-lg-5 footer-links">
            <ul>
              <li>
                <div class="row">
                  <div class="scale footer-img">
                    <a href="https://www.marubeni.com/en/" target="_blank"><img class="footer-link-img footerlink-img" src="{% static 'assets/img/footergroup.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="scale footer-img">
                    <a href="http://www.becquerelcapital.com/" target="_blank"><img class="footer-link-img" src="{% static 'assets/img/bequerel_2.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
              <li><p class="footer-link-p">{% trans 'Miembros de:' %}</p></li>
              <li>
                <div class="row">
                  <div class="scale footer-img footer-link-member">
                    <a href="https://www.asolmex.org/es/" target="_blank"><img class="footer-link-member" src="{% static 'assets/img/asolmex.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->
