{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Propuesta' %} {{ proposalid }}{% endblock title %}

{% block introduction %}
<section id="introduction-pdf" class="d-flex align-items-center">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10">
          <h1>{% trans 'Propuesta' %} {{ proposalid }}</h1>
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}

{% block content %}
  <main id="main">

    <!-- ======= Prepared Section ======= -->
    <section id="proposal-pdf" class="proposal-pdf">

      <div id="top-bar" class="top-bar">
        <button class="btn-page" id="prev-page">
          <div class="row">
            <div class="btn-arrow">
              <i class="far fa-long-arrow-left"></i>
            </div>
            <div class="name-btn">
              Prev Page
            </div>
          </div>
        </button>
        <span class="page-info">
          Page <span id="page-num"></span> of <span id="page-count"></span>
        </span>
        <button class="btn-page" id="next-page">
          <div class="row">
            <div class="name-btn">
              Next page
            </div>
            <div class="btn-arrow">
              <i class="far fa-long-arrow-right"></i>
            </div>
          </div>
        </button>
      </div>

      <canvas id="pdf-render"></canvas>

      <div class="container">
        <a class="btn-download" id="proposal-download-btn" href="" download="proposal">
          {% trans 'Descargar' %}
        </a>
      </div>
    </section>

  </main>
{% endblock content %}
