{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="navbar-collapse collapse proposal-mobile-nav" id="mobile-nav">
  <ul class="navbar-nav">
    <li class="nav-item d-block ml-4 mb-1 mt-1">
      <a class="nav-link" href="{% trans 'https://www.kiwapower.com/' %}" target="_blank">{% trans 'Inicio' %}</a>
    </li>
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="{% trans 'https://www.kiwapower.com/#acerca' %}" target="_blank">{% trans 'Conócenos' %}</a>
    </li>
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="{% trans 'https://www.kiwapower.com/preguntas-frecuentes/' %}" target="_blank">{% trans 'FAQ' %}</a>
    </li>
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="https://youtu.be/5fAbaoFOYH0" target="_blank">{% trans 'Mira nuestro video y Descubre Kiwapower en 2 min' %}</a>
    </li>
    {% for lang in languages %}
    {% if lang.code != LANGUAGE_CODE %}
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="{% if lang.code != 'es' %}/{{ lang.code }}{% endif %}/{{ proposal_id }}/proposal">{% trans 'EN' %}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>