{% load static i18n %}

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center">
          <div class="logo mr-auto scale">
            <a class="logo mr-auto scale" href="{% trans 'https://www.kiwapower.com/' %}" target="_blank"><img src="{% static 'assets/img/kwlogo.png' %}" alt=""></a>
          </div>
            <nav class="nav-menu d-none d-lg-block align-justify mr-auto">
              <ul>
                <li><a href="{% trans 'https://www.kiwapower.com/' %}" target="_blank">{% trans 'Inicio' %}</a></li>
                <li><a href="{% trans 'https://www.kiwapower.com/#acerca' %}" target="_blank">{% trans 'Conócenos' %}</a></li>
                <li><a href="{% trans 'https://kiwapower.force.com/FAQ/s/?language=es' %}" target="_blank">{% trans 'FAQ' %}</a></li>
              </ul>
              <ul>
                <li><a href="https://www.kiwapower.com/kiwapower_en/" target="_blank">{% trans 'Ve Nuestro Video' %}</a></li>
              </ul>
            </nav><!-- .nav-menu -->

          <a href="https://www.marubeni.com/en/" class="group-nav" target="_blank"><img src="{% static 'assets/img/group.png' %}"></a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for lang in languages %}
              {% if lang.code != LANGUAGE_CODE %}
              <li><a href="{% if lang.code != 'es' %}/{{ lang.code }}{% endif %}/{{ proposal_id }}/proposal">{% trans 'EN' %}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav><!-- Lang switcher -->
        </div>
      </div>
    </div>
  </header><!-- End Header -->