{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Propuesta para' %} {{ creator.client_name }} - Kiwapower{% endblock title %}

{% block description %}{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block header %}
{% include 'proposal_header.html' %}
{% endblock header %}

{% block mobile_nav %}
{% include 'proposal_header_mobile.html' %}
{% endblock mobile_nav %}

{% block introduction %}
<section id="introduction-proposal" class="d-flex align-items-center">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        {% if not is_expired %}
        <h1>{% trans 'Esta propuesta fue preparada para ' %}{{ creator.client_name }}</h1>
        {% else %}
        <h1>{% trans 'Esta propuesta ha caducado, consulte con su representante de Kawapower' %}</h1>
        {% endif %}
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}

{% block content %}
  <main id="main">

    <!-- ======= Prepared Section ======= -->
    <section id="prepared" class="prepared">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
              <div class="section-title">
                {% if message %}
                <p>{{ message }}</p>
                {% else %}
                <h2>{% trans 'Energice su negocio con energía solar. Ponga las área de techo no usadas a trabajar para usted, y asegure tarifas de electricidad bajas y en pesos. Facilitaremos la transición de su negocio a una electricidad solar limpia y moderna.' %}</h2>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-centered">
              <div class="row member">
                <div class="col-3 col-md-4 col-lg-3 member-img" style="background-image: url({% if img %}'data:image/png;base64,{{ img }}'{% else %}'/static/assets/img/user-icon-placeholder.png'{% endif %});">
                </div>
                <div class="col-9 col-md-8 col-lg-9 member-info">
                  <h4>{{ creator.Name }}</h4>
                  {% if creator.Email %}
                  <a href="mailto:{{ creator.Email }}?subject={% trans 'Consulta Kiwapower' %}">
                    <p>{{ creator.Email }}</p>
                  </a>
                  {% endif %}
                  {% if creator.Phone %}
                  <a href="tel:{{ creator.Phone }}">
                    <p>{{ creator.Phone }}</p>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
      </div>
    </section><!-- End Prepared Section -->

    <!-- ======= Proposal Link Section ======= -->
    <section id="proposal-link" class="proposal-link">
      <div class="container">
        <div>
          {% if not is_expired and documents %}
            {% if static_resources %}
          <div>
            {% else %}
          <div class="col-xs-12">
            {% endif %}
            <div class="section-title">
              <p>{% trans "Sus documentos" %}</p>
            </div>
            <div class="documents-main dynamic">
              <div class="rescarousel">
                <div class="rescarousel-inner">
                  {% for _ ,document in documents.items %}
                  <div class="item">
                    <div class="document">
                      <div class="document-wrapper">
                        {% with document.file_name as filename %}
                        <div class="document-name">
                          <div>
                            <p>{{ document.title }}</p>
                          </div>
                        </div>
                        {% if 'pdf' in filename %}
                        <div class="row document-bottom pdf-file">
                          <div class="col-2">
                            <i class="fad fa-file-pdf"></i>
                          </div>
                          <div class="col-9">
                            <input type="button" class="btn-confirmation proposal-pdf-link" data-document-id="{{document.document_id}}" data-document-name="{{ document.title }}.pdf" value="{% trans 'Ver' %}"/>
                          </div>
                        </div>
                        {% else %}
                        {% if 'doc' in filename or 'docx' in filename or 'dot' in filename %}
                        <div class="row document-bottom word-file">
                          <div class="col-2">
                            <i class="fad fa-file-word"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{document.document_link}}" class="download btn-confirmation" data-document-id="{{document.document_id}}" data-document-name="{{ document.file_name }}" download="{{ document.file_name }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% elif 'xls' in filename or 'xlsx' in filename or 'xlsm' in filename %}
                        <div class="row document-bottom excel-file">
                          <div class="col-2">
                            <i class="fad fa-file-excel"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{document.document_link}}" class="download btn-confirmation" data-document-id="{{document.document_id}}" data-document-name="{{ document.file_name }}" download="{{ document.file_name }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% elif 'pptx' in filename or 'ppt' in filename or 'pptm' in filename %}
                        <div class="row document-bottom powerpoint-file">
                          <div class="col-2">
                            <i class="fad fa-file-powerpoint"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{document.document_link}}" class="download btn-confirmation" data-document-id="{{document.document_id}}" data-document-name="{{ document.file_name }}" download="{{ document.file_name }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% else %}
                        <div class="row document-bottom">
                          <div class="col-2">
                            <i class="fad fa-file-download"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{document.document_link}}" class="download btn-confirmation" data-document-id="{{document.document_id}}" data-document-name="{{ document.file_name }}" download="{{ document.file_name }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
            {% if static_resources %}
          <div>
            {% endif %}
          {% else %}
            {% if static_resources %}
            <div class="col-xs-12">
            {% endif %}
          {% endif %}
          {% if static_resources %}
            <div class="section-title">
              <p>{% trans "Kiwapower recusos" %}</p>
            </div>
            <div class="documents-main resources">
              <div class="rescarousel">
                <div class="rescarousel-inner">
                  {% for file in static_resources %}
                  <div class="item">
                    <div class="document">
                      <div class="document-wrapper">
                        {% with file.document.name as filename %}
                        <div class="document-name">
                          <div>
                            <p>{{ file.file_description }}</p>
                          </div>
                        </div>
                        {% if 'pdf' in filename %}
                        <div class="row document-bottom pdf-file">
                          <div class="col-2">
                            <i class="fad fa-file-pdf"></i>
                          </div>
                          <div class="col-9">
                            <input type="button" class="btn-confirmation proposal-pdf-link" data-document-id="{{file.web_proposal_field}}" data-document-name="{{ filename }}" value="{% trans 'Ver' %}" />
                          </div>
                        </div>
                        {% else %}
                        {% if 'doc' in filename or 'docx' in filename or 'dot' in filename %}
                        <div class="row document-bottom word-file">
                          <div class="col-2">
                            <i class="fad fa-file-word"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{ media_url }}{{ filename }}" class="download btn-confirmation" data-document-id="{{file.web_proposal_field}}" data-document-name="{{ filename }}" download="{{ filename }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% elif 'xls' in filename or 'xlsx' in filename or 'xlsm' in filename %}
                        <div class="row document-bottom excel-file">
                          <div class="col-2">
                            <i class="fad fa-file-excel"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{ media_url }}{{ filename }}" class="download btn-confirmation" data-document-id="{{file.web_proposal_field}}" data-document-name="{{ filename }}" download="{{ filename }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% elif 'pptx' in filename or 'ppt' in filename or 'pptm' in filename %}
                        <div class="row document-bottom powerpoint-file">
                          <div class="col-2">
                            <i class="fad fa-file-powerpoint"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{ media_url }}{{ filename }}" class="download btn-confirmation" data-document-id="{{file.web_proposal_field}}" data-document-name="{{ filename }}" download="{{ filename }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% else %}
                        <div class="row document-bottom">
                          <div class="col-2">
                            <i class="fad fa-file-download"></i>
                          </div>
                          <div class="col-9">
                            <a href="{{ media_url }}{{ filename }}" class="download btn-confirmation" data-document-id="{{file.web_proposal_field}}" data-document-name="{{ filename }}" download="{{ filename }}">{% trans 'Descargar' %}</a>
                          </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section><!-- End Proposal Link Section -->

    <!-- ======= Why Kiwapower Section ======= -->
    <section id="whykiwapower" class="faq">
      <div class="container" data-aos="fade-up">
      {% with sections=sections.all %}
        {% for section in sections %}
        {% if section.article_set.all.exists %}
        <div class="section-title">
          <a id="link-section-{{ section.id }}" aria-expanded="false" data-toggle="collapse" class="collapsed" href="#section-{{ section.id }}"><h2>{{ section.label }}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></h2></a>
        </div>
        {% endif %}

        <div id="section-{{ section.id }}" class="collapse" data-parent="#link-section-{{ section.id }}">
          <ul class="faq-list" data-aos="fade-up">
          {% for article in section.article_set.all %}
            <li>
              <a id="link-article-{{ section.id }}-{{ article.order }}" aria-expanded="false" data-toggle="collapse" class="collapsed" href="#article-{{ section.id }}-{{ article.order }}">{{ article.question }}<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="article-{{ section.id }}-{{ article.order }}" class="collapse" data-parent="#link-article-{{ section.id }}-{{ article.order }}" >
                <p>
                  {{ article.answer }}
                </p>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endfor %}
      {% endwith %}
      </div>
    </section><!-- End Why Kiwapower Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-xl-6">
            <div class="contact-form-title">
              <p>{% trans '¿Tiene alguna pregunta o desea darnos su opinión?' %}</p>
            </div>
            <form action="" method="post" role="form" id="Feedback-Form" class="contact-form">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="{% trans 'Por favor escribe algo para nosotros' %}" placeholder="{% trans 'Ingrese su pregunta' %}"></textarea>
              </div>
              <div class="mb-3">
                <div class="sent-message">{% trans 'Gracias por su consulta, nos comunicaremos con usted a la brevedad' %}</div>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Enviar' %}</button></div>
            </form>
          </div>

          <div class="col-xl-6">
            <div class="contact-form-title">
              <p>{% trans 'Solicite una reunión con Kiwapower' %}</p>
            </div>
            <form action="" method="post" role="form" id="Meeting-Form" class="contact-form">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="{% trans 'Por favor escribe algo para nosotros' %}" placeholder="{% trans 'Indique el mejor momento y la mejor forma para que Kiwapower se comunique con usted' %}"></textarea>
              </div>
              <div class="mb-3">
                <div class="sent-message">{% trans 'Gracias por su consulta, nos comunicaremos con usted a la brevedad' %}</div>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Enviar' %}</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}