{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Propuesta para ti - Kiwapower' %}{% endblock title %}

{% block description %}{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block header %}
  {% include 'proposal_header.html' %}
{% endblock header %}

{% block mobile_nav %}
<div class="navbar-collapse collapse" id="mobile-nav">
  <ul class="navbar-nav">
    <li class="nav-item d-block ml-4 mb-1 mt-1">
      <a class="nav-link" href="https://www.kiwapower.com/">{% trans 'Casa' %}</a>
    </li>
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="https://www.kiwapower.com/#acerca">{% trans 'Quienes somos' %}</a>
    </li>
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="#whykiwapower">{% trans 'PMF' %}</a>
    </li>
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for lang in languages %}
    {% if lang.code != LANGUAGE_CODE %}
    <li class="nav-item d-block ml-4 mb-1">
      <a class="nav-link" href="/{{ lang.code }}/">{% trans 'EN' %}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock mobile_nav %}

{% block introduction %}
<section id="introduction-proposal" class="d-flex align-items-center">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-10">
          <h1>{% trans 'Propuesta para ti' %}</h1>
      </div>
    </div>
  </div>

</section><!-- End introduction -->
{% endblock introduction %}

{% block content %}
  <main id="main">

    <!-- ======= Prepared Section ======= -->
    <section id="prepared" class="prepared">
      <div class="container-fluid">

        <div class="section-title">
          <p>{% trans 'Esta propuesta fue preparada por:' %}</p>
        </div>
        <div class="row">
            <div class="col-auto d-flex col-centered">
              <div class="row member">
                <div class="col-6 member-img">
                  <img src="{% static 'assets/img/user-icon-placeholder.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-5 member-info">
                  <h4>{% trans 'Nombre de Usuario' %}</h4>
                </div>
              </div>
            </div>

        </div>

      </div>
    </section><!-- End Prepared Section -->

    <!-- ======= Welcom Message Section ======= -->
    <section id="welcom" class="welcom section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Lugar para mensaje de bienvenida' %}</h2>
        </div>
      </div>
    </section><!-- End Welcom Message Section -->

    <!-- ======= Proposal Link Section ======= -->
    <section id="proposal-link" class="proposal-link">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-title">
          <p>{% trans 'Propuesta para ti' %}:</p>
          <input type="button" id="proposal-pdf-link" class="btn-confirmation" value="{% trans 'Ver propuesta' %}" />
        </div>
      </div>
    </section><!-- End Proposal Link Section -->

    <!-- ======= Why Kiwapower Section ======= -->
    <section id="whykiwapower" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><a data-toggle="collapse" class="collapsed" href="#wkwp">{% trans '¿Por qué Kiwapower?' %}</a></h2>
        </div>

        <div id="wkwp" class="collapse" data-parent=".section-title">
          <ul class="faq-list" data-aos="fade-up">
          {% for i in '123' %}
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq{{ i }}">Some Question<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq{{ i }}" class="collapse" data-parent=".faq-list">
                <p>
                  Some Answer
                </p>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="section-title">
          <h2><a data-toggle="collapse" class="collapsed" href="#kwpppa">{% trans '¿Cómo funciona el PPA de Kiwapower?' %}</a></h2>
        </div>

        <div id="kwpppa" class="collapse" data-parent=".section-title">
          <ul class="faq-list" data-aos="fade-up">
          {% for i in '456' %}
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq{{ i }}">Q<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq{{ i }}" class="collapse" data-parent=".faq-list">
                <p>
                  A
                </p>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="section-title">
          <h2><a data-toggle="collapse" class="collapsed" href="#kwpprocess">{% trans 'El proceso de Kiwapower' %}</a></h2>
        </div>

        <div id="kwpprocess" class="collapse" data-parent=".section-title">
          <ul class="faq-list" data-aos="fade-up">
          {% for i in '789' %}
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq{{ i }}">Q<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="faq{{ i }}" class="collapse" data-parent=".faq-list">
                <p>
                  A
                </p>
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

      </div>
    </section><!-- End Why Kiwapower Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Contacto' %}</h2>
          <p>{% trans 'Proporcionar comentarios o preguntas' %}</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-8 col-centered">
            <form action="" method="post" role="form" class="contact-form">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="{% trans 'Por favor escribe algo para nosotros' %}" placeholder="{% trans 'Ingrese su pregunta' %}"></textarea>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Enviar' %}</button></div>
            </form>
          </div>

        </div>

      </div>
      <div class="container" data-aos="fade-up">

        <div class="contact-form-title">
          <p>{% trans 'Solicite una reunión con Kiwapower' %}</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-8 col-centered">
            <form action="" method="post" role="form" class="contact-form">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="{% trans 'Por favor escribe algo para nosotros' %}" placeholder="{% trans 'Indique el mejor momento y la mejor forma para que Kiwapower se comunique con usted' %}"></textarea>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Enviar' %}</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}

{% block footer %}
  {% include 'proposal_footer.html' %}
{% endblock footer %}