{% load static i18n %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 footer-contact">
            <div class="row">
              <div class="scale footer-img">
                <a href="https://www.kiwapower.com/"><img src="{% static 'assets/img/footerkwlogo.png' %}" alt=""></a>
              </div>
            </div>
              <a href="https://www.google.com/maps/place/Volc%C3%A1n+150,+Lomas+-+Virreyes,+Lomas+de+Chapultepec,+Miguel+Hidalgo,+11000+Ciudad+de+M%C3%A9xico,+CDMX/@19.4294065,-99.2099023,17z/data=!3m1!4b1!4m5!3m4!1s0x85d201f5f0c70a61:0xfc4dc6ff4666c121!8m2!3d19.4294065!4d-99.2077136" target="_blank">
                <div class="row">
                  <div class="footer-contact-icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="col-9 footer-contact-span">
                    <span>{% trans 'Vólcan 150, Piso 4, Suite 432, Miguel Hidalgo, C.P. 11910, Ciudad de Mexico, Mexico' %}</span>
                  </div>
                </div>
              </a><br>
              <a href="tel:+525570266517">
                <div class="row">
                  <div class="mr-3 footer-contact-icon">
                    <i class="fas fa-phone-alt"></i>
                  </div>
                  <div class="footer-contact-span">
                    <span>+53 55 7026 65 17</span>
                  </div>
                </div>
              </a><br>
              <a href="mailto:contacto@kiwapower.com">
                <div class="row">
                  <div class="mr-3 footer-contact-icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="footer-contact-span">
                    <span>contacto@kiwapower.com</span>
                  </div>
                </div>
              </a><br>
            
          </div>

          <div class="col-lg-2 footer-links">
            <ul>
              <li><a href="https://www.kiwapower.com/">{% trans 'Casa' %}</a></li>
              <li><a href="https://www.kiwapower.com/#acerca">{% trans 'Quienes somos ' %}</a></li>
              <li><a class="scrollto" href="#whykiwapower">{% trans 'PMF' %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 footer-links">
            <ul>
              <li>
                <div class="row">
                  <div class="scale footer-img">
                    <a href="https://www.marubeni.com/en/"><img class="footer-link-img footerlink-img" src="{% static 'assets/img/footergroup.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="scale footer-img">
                    <a href="http://www.becquerelcapital.com/"><img class="footer-link-img" src="{% static 'assets/img/bequerel_2.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
              <li><p class="footer-link-p">{% trans 'Miembros de:' %}</p></li>
              <li>
                <div class="row">
                  <div class="scale footer-img footer-link-member">
                    <a href="https://www.asolmex.org/es/"><img class="footer-link-member" src="{% static 'assets/img/asolmex.png' %}" alt=""></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 footer-newsletter">
            <form action="" method="post" role="form">
              {% csrf_token %}
              <div class="text-center"><h4>{% trans 'Reciba nuestras novedades! ' %}</h4></div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Correo electrónico..' %}" data-rule="email" data-msg="{% trans 'Por favor introduzca una dirección de correo electrónico válida ' %}" />
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  {% trans 'He leído el aviso de privacidad.' %}
                </label>
              </div>
              <div class="text-center"><button type="submit">{% trans 'Suscribir' %}</button></div>
              <div class="text-center"><a href="https://www.kiwapower.com/aviso-de-privacidad/">{% trans 'Aviso de privacidad' %}</a></div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->
