/* LOGIN FORM */

.login {
    background: var(--darkened-bg);
    height: auto;
}

.login #header #branding {
    width: 100%;
}

.login #header {
    height: auto;
    padding: 15px 16px;
}

.login #header #site-name {
    font-size: 18px;
    float: left;
}

.login #header #site-name a {
    color: var(--header-link-color);
}

.login #header #login-lang-switcher {
    display: flex;
    font-size: 16px;
    float: right;
    margin-right: 0;
    margin-top: 2px;
}

.login #header #login-lang-switcher a {
    color: var(--header-link-color);
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}
